version: "3.9"

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    ports:
      - "8000:8000"
    volumes:
      - ./data/vectorstore:/app/data/vectorstore
    environment:
    - OLLAMA_BASE_URL=http://host.docker.internal:11434
    restart: unless-stopped

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    ports:
      - "8501:8501"
    environment:
      - BACKEND_URL=http://backend:8000/rag/stream
    depends_on:
      - backend
    restart: unless-stopped